.ov-x {
  position: sticky;
  top: 0;
  overflow-x: auto;
}

table {
  /* position: sticky; */
  /* top: 0; */
  display: flex;
  flex-wrap: wrap;
  white-space: nowrap;
  border-spacing: 0;
  border-collapse: collapse;
}

th {
  text-align: left;
}

th,
td {
  min-width: 200px;
  height: 40px;
}

thead th {
  position: sticky;
  top: 0;
  background-color: steelblue;
  z-index: 1;
}

thead th:first-child {
  z-index: 2;
}

thead th:first-child,
tbody tr th {
  min-width: 30px;
  position: sticky;
  left: 0;
  background-color: steelblue;
}